#main-field {
    border: 2px #808080 solid;
    display: none;
    padding: 1px;
}

#main-field button {
    width: 30px;
    height: 30px;
    /*border: 1px black solid;*/
    border: 1px transparent solid;
    margin: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-field button.deleted-cell {
    background-color: transparent;
}

#main-field button.matched-cell {
    border: 1px black solid;
    /*margin: 1px;*/
}

#blockscreen, #modalwindow {
    position: fixed;
}
#blockscreen {
    background: rgba(0, 0, 0, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
#modalwindow {
    z-index: 11;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    box-shadow: 0 0 10px #444;

}
